@tailwind base;
@tailwind components;
@tailwind utilities;

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.title_bg {
  background-image: linear-gradient(100deg, #8f8f8f 30%, #fff9f4);
  background-size: 100%;
  /* background-position: left; */

  transition: 300ms all ease-in-out;
}
.active_settings {
  @apply bg-white border shadow-xl;
}
